/vendor/
node_modules/

# Environment files
.env
.env.backup
.env.production

# Laravel
/public/storage
/public/hot
/public/build
/storage/pail
storage/*.key

# Laravel cache / logs
.phpunit.result.cache

# Composer
auth.json

# IDE / local files
.phpactor.json

# Laravel Sail / Homestead
Homestead.yaml
Homestead.json
/.vagrant

# Node
npm-debug.log
yarn-error.log